@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply h-screen transition duration-300 ease-in-out;
  background: #759aba7d; 
  color: #f7f3f2; 
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}


/* Dark Mode Styles */
.dark body {
  @apply bg-dark text-light;
}

.dark a {
  @apply bg-dark-bg text-blue-400;
}

.dark a:hover {
  @apply outline-none ring-2 ring-offset-2 ring-blue-900;
}

.dark .menu-icon {
  @apply bg-dark-bg-alt text-white;
}

.dark .menu-icon:hover {
  @apply ring-blue-900;
}

/* Light Mode Styles */
.light body {
  @apply bg-gray-100 text-gray-900;
}

.light a {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500 text-white;
}

.light a:hover {
  @apply outline-none ring-2 ring-offset-2 ring-blue-300;
}

.light .menu-icon {
  @apply bg-blue-500 text-white;
}

.light .menu-icon:hover {
  @apply ring-blue-300;
}

/* Shared Styles */
.menu-icon {
  @apply rounded-full p-2 transition-all ease-in-out duration-200;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon:hover {
  @apply transform scale-110 shadow-lg;
}

.hover-effect {
  @apply transition-transform transform hover:-translate-y-2 hover:shadow-2xl hover:bg-gray-100;
}
